* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: #DBD6D2;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#header {
  margin-top: 5vmin;
}
.container {
    height: 70vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.boxes {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 8vmin;
    color: #b0413e;
}

#resetButton {
    font-size: 3vh;
    background-color: #191913;
    padding: 1.5vh;
    cursor: pointer;
    border-radius: 1rem;
    color: white;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  max-width: 90%;
  min-width: 300px;
  min-height: 130px; /* Adjust the maximum width for larger screens */
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

  #popupCloseButton {
  cursor: pointer;
  color: #333;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

#closeButton {
cursor: pointer;
color: #333;
font-size: 20px;
font-weight: bold;
position: absolute;
bottom: 10px;
left: 10px;
padding: 3px;
margin-bottom: 5px; /* Add margin to create space */
}

#additionalButton {
cursor: pointer;
color: #333;
font-size: 18px;
font-weight: bold;
position: absolute;
padding: 3px;
bottom: 10px;
right: 10px;
margin-bottom: 5px; /* Add margin to create space */
margin-top: 5px;
}

#msg {
margin-bottom: 55px; /* Increase margin to create more space between text and buttons */
font-size: 30px;
padding-top: 10px;
color: green;
}


/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 600px) {
  #popup {
    padding: 10px;
  }

  #closeButton {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 10px;
  }

  #popupCloseButton {
    top: 10px;
    right: 10px;
  }
}